/Java/Leccion2/CicloWhile/nbproject/private/
/Java/Leccion2/CicloWhile/build/
/Java/Leccion2/EjercicioCiclos01/nbproject/private/
/Java/Leccion2/EjercicioCiclos01/build/
/Java/Leccion2/EjercicioCiclos02/nbproject/private/
/Java/Leccion2/EjercicioCiclos02/build/
/Java/Leccion3/Persona.java/build/
/Java/Leccion3/build/
/Java/Leccion4/Aritmetica/nbproject/private/
/Java/Leccion4/Aritmetica/build/
/Java/Lección1/HolaMundo/build/
/Java/Leccion2/EjercicioCiclos10/nbproject/private/
/Java/Leccion2/EjercicioCiclos10/build/
/Java/Leccion2/EjercicioCiclos11/nbproject/private/
/Java/Leccion2/EjercicioCiclos11/build/
/Java/Leccion2/EjercicioCiclos12/nbproject/private/
/Java/Leccion2/EjercicioCiclos12/build/
/Java/Lección5/ContextoEstatico/nbproject/private/
/Java/Lección5/ContextoEstatico/build/
/Java/Lección6/Herencia/nbproject/private/
/Java/Lección6/Herencia/build/
